.DadosPessoais{
    display: flex;
    justify-content: center;
    align-items: center;   
    right: 0;
}

.col6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
}
.col3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

}

@media (max-width:800px){
    .col6 {
        grid-template-columns: 1fr;
        margin-right: 1%;
    }
    .col3 {
        display: grid;
        grid-template-columns: 1fr ;
    }
}