

select {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #7ed1c2;
}

.carteiraVirtual{
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 20px;  
}

.carteiraVirtual  select {
    height: 40px;
    width: 50%;
}
.carteira{
    position: relative;
    padding: 10px;
    width: 100%;
    height: 290px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 0.1px solid #ccc;
    object-fit: cover;
    background-image: url('../../../../Assets/Capa_carteirinha.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;

}
.carteira strong {
    display: block;
}
.carteiraVerso strong {
    display: block;
}

.carteira::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    object-fit: cover;
  
    
    
}
.contentCarteira {
    margin: 20px;
}
.contentCarteira p {
    font-size: 14px;
    color: black;
    padding: 5px;
}


.contentDados{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 16px;
}


.gridCard{
    display: grid;
    gap: 1rem;
}

.carteiraVerso{
    position: relative;
    padding: 10px;
    width: 100%;
    height: 290px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 0.1px solid #ccc;
    object-fit: cover;
    background-image: url('../../../../Assets/Back_carteirinha.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;
}


.contentCarteiraVerso{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 14px;
}

.contentCarteiraVerso p {
    margin: 10px;
    

}

.internal_convenio {
    margin: 5px;
    margin-top: 10px;
}
.internal_convenio p {
    font-size: 10px;
    margin:0
}
.informacao_emergencial {
    display: flex;
    justify-content: space-between;
}
.informacao_emergencial img {
   margin-top: -20px;
}
.informacao_emergencial p{
    margin-top: 10px;
    font-size: 12px;
}

.modal {
    position: absolute;
    z-index: 999;
    background-color: white;
    height: 100%;
    width: 100%;
    font-family: var(--type-second);
    font-size: 3rem;
    background: url('../../../../Assets/girarDispostivo.jpg') no-repeat #fff ;
   
}



@media (max-width:500px){
    .carteiraVerso {
        display: none;
    
    }
    .carteira {
        display: none;
    }
}
@media (min-width:501px ){
    .carteiraVerso {
        display: block;
        
    }
    .carteira {
        display: block;
    }
    .modal {
        display: none;
    }

}



@media (max-width:1020px){

    .gridCard{
        grid-template-columns: 1fr ;
        width: 100%;
    }
    .carteira{
        width: 500px;
    }

    .carteiraVerso{
        width: 500px;
    }
    .carteiraVirtual{
        flex-direction: column-reverse;
    }
}