.header{
    box-shadow: 0px 1px 1px rgba(0,0,0, .1);
    position: fixed;
    width: 100%;
    z-index: 100;
    background: white;
    top: 0px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
.logoImg{
    max-width: 120px;
}
.nomeLogin{
    display: flex;
}
.nomeLogin:before{
    content: '';
    width: 14px;
    height: 17px;
    margin-right: 10px;
    background: url('../../Assets/usuario.svg') no-repeat center center; 
}

.buttonLogout {
    margin-top: -5px;
    background-color: transparent;
    margin-left: 20px;
    border: 0.1px solid gray;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.buttonLogout:focus,
.buttonLogout:hover{
    background-color: #409d8a;
    color: white;
    outline: none;
    box-shadow: 0 0 0 1px #3bc3a7, 0 0 0 2px #409d8a;
}


.logo {
    padding: .5rem 0;
}

.login {
    color: #333;
    display: flex;
    align-items: center;
}

.login::after{
   content: '';
   display: inline-block;
   width: 14px;
   height: 17px;
   background: url('../../Assets/usuario.svg') no-repeat center center; 
   margin-left: .5rem;
   position: relative;
   top: -1px;
}
.iconFabar{
    z-index: 10;
  }

  @media (max-width: 1200px) {
      .logo {
          display: none;
      }
  }


