@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    color: #333;
    padding-top: 4rem;
    --type-first: Helvetica, Arial, sans-serif;
    --type-second: 'MuseoModerno', georgia;
    font-family:  var(--type-first);
}
h1, h2, h3, h4, p {
    margin: 0px;
}

ul, li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
img {
    display: block;
    max-width: 100%;
}

button, input {
    display: block;
    font-size: 1rem;
    font-family: var(--type-first);
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

.Input_error__qUQyx {
    display: flex;
    position: relative;
    color: red;
    padding: 10px;
    background-color: #fff2f2;
    border: 0.1px #ccc; 
    text-align: right; 
    align-items: center;

}

.Input_error__qUQyx::before{
    content: '✕';
    display: block;
    font-size: 20px;
    border-radius: 50%;
    margin: 10px;


}
.container {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.title {
    font-family: var(--type-second);
    line-height: 1;
    font-size: 3rem;
    margin: 1rem 0;
    position: relative;
    z-index: 1;
    color: #419d8a;

}

.title::after{
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #bafff1;
    position: absolute;
    bottom: 5px;
    left: -5px;
    border-radius: .2rem;
    z-index: -1;
    border-radius: 0px 10px ;
}

.title_small {
   
    font-family: var(--type-second);
    line-height: 1;
    font-size: 1.5rem;
    margin: 1rem 0;
    position: relative;
    z-index: 1;
    border-bottom: 0.1px solid #eee;
    padding: 12px;
    color:#125d50;

}

.title_small::after{
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #bafff1;
    position: absolute;
    bottom: 5px;
    left: -5px;
    border-radius: .2rem;
    z-index: -1;
    border-radius: 0px 10px ;
}
.animeLeft{
    opacity: 0;
    transform: translateX(-20px);
    animation: animeLeft .3s forwards;
    padding: 20px;

}

.logoImg{
    width: 50%;

}
.container-internal {
    padding-top: 4rem;
}

@keyframes animeLeft {
    to{
        opacity: 1;
        transform: initial;
    }
}
@media(min-width:800px){
    body {
        padding-top: 0 !important;
    }
}
